@using  stvsystem.Data
@model SettingItem

@Html.HiddenFor(model => model.SettingID)
@Html.HiddenFor(model => model.SelectionStatus)

<div class="container-maxwidth500">
    <div class="card">
        <div class="card-header">Ընտրության մանրամասներ</div>
        @if (Model.SettingID != -1)
        {
            <div class="card-body">
                <div>
                    @Html.LabelFor(model => model.SelectionName, new { @class = "control-label delete-label" }):
                    @Html.DisplayFor(model => model.SelectionName)
                </div>
                <div>
                    @Html.LabelFor(model => model.SelectionDate, new { @class = "control-label delete-label" }):
                    @Html.DisplayFor(model => model.SelectionDate)
                </div>
                <div>
                    @Html.LabelFor(model => model.StartTime, new { @class = "control-label delete-label" }):
                    @Html.DisplayFor(model => model.StartTime)
                </div>
                <div>
                    @Html.LabelFor(model => model.FinishTime, new { @class = "control-label delete-label" }):
                    @Html.DisplayFor(model => model.FinishTime)
                </div>
                <div>
                    @Html.LabelFor(model => model.SelectionCount, new { @class = "control-label delete-label" }):
                    @Html.DisplayFor(model => model.SelectionCount)
                </div>
                <div>
                    @Html.LabelFor(model => model.ParticipantCount, new { @class = "control-label delete-label" }):
                    @Html.DisplayFor(model => model.ParticipantCount)
                </div>
            </div>
            <div class="card-footer">
                @if (Model.SelectionStatus == SettingStatus.InPreparation)
                {
                    <button type="button" class="btn btn-sm btn-success" onclick="location.href='@Url.Action("Initialize", "Setting")'"><i class="icons icon-arrow-right"></i>&nbsp;Սկսել քվեարկությունը</button>
                    <button type="button" style="float:right;" class="btn btn-sm btn-danger" onclick="location.href='@Url.Action("Delete", "Setting")'"><i class="icons icon-trash"></i>&nbsp;Հեռացնել</button>
                    <button type="button" style="float:right;margin-right:5px;" class="btn btn-sm btn-primary" onclick="location.href='@Url.Action("InitUpdate", "Setting")'"><i class="icons icon-pencil"></i>&nbsp;Խմբագրել</button>
                    
                }
                else if (Model.SelectionStatus == SettingStatus.Finished)
                {
                    <button type="button" class="btn btn-sm btn-primary" onclick="location.href='@Url.Action("InitInsert", "Setting")'"><i class="icons icon-plus"></i>&nbsp;Ավելացնել</button>
                }
                else
                {
                    <span>Ներկայումս սույն կարգավորումները խմբագրման ենթակա չեն, քանի որը քվեարկությունը ընթացքի մեջ է</span>
                }
            </div>
        }


        else
        {
            <div class="card-body">
                <p>
                    Ներկայումս համակարգում չկան ակտիվ գրառումներ ընտրության վերաբերյալ
                </p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-sm btn-primary" onclick="location.href='@Url.Action("InitInsert", "Setting")'"><i class="icons icon-plus"></i>&nbsp;Ավելացնել</button>
            </div>
        }
    </div>
</div>
<div id="errors"> </div>









