@using  stvsystem.Data
@model SettingItem

@using (Html.BeginForm("SaveSetting", "Setting", FormMethod.Post, new { id = "frmTemplate" }))
{
    @Html.HiddenFor(model => model.SettingID)
    @Html.HiddenFor(model => model.SelectionStatus)

    <div class="container-maxwidth500">
        <div class="card">
            <div class="card-header">
                Մուտքագրել կարգավորումները
            </div>
            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectionName, new { @class = "control-label" })
                    @Html.Kendo().TextBoxFor(model => model.SelectionName).HtmlAttributes(new { @class = "form-control", maxlength = "50" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectionDate, new { @class = "control-label" })
                    @Html.Kendo().DatePickerFor(model => model.SelectionDate).Format("MM-dd-yyyy").HtmlAttributes(new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StartTime, new { @class = "control-label" })
                    @Html.Kendo().DateTimePickerFor(model => model.StartTime).Format("hh:mm").HtmlAttributes(new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FinishTime, new { @class = "control-label" })
                    @Html.Kendo().DateTimePickerFor(model => model.FinishTime).Format("hh:mm").HtmlAttributes(new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectionCount, new { @class = "control-label" })
                    @Html.Kendo().NumericTextBoxFor(model => model.SelectionCount).HtmlAttributes(new { @class = "form-control" }).Format("#")
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ParticipantCount, new { @class = "control-label" })
                    @Html.Kendo().NumericTextBoxFor(model => model.ParticipantCount).HtmlAttributes(new { @class = "form-control" }).Format("#")
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" id="SubmitButton" class="btn btn-sm btn-primary"><i class="icons icon-check"></i>&nbsp;Հիշել</button>
                <button type="button" class="btn btn-sm btn-secondary" onclick="location.href='@Url.Action("Index", "Setting")'"><i class="icons icon-close"></i>&nbsp;Չեղարկել</button>
                @Html.ValidationSummary("Առկա են խնդիրներ")
            </div>
        </div>
    </div>
}
<div id="errors"> </div>

<script>
    $(".validation-summary-errors").addClass("bg-warning")
    $("form").kendoValidator({
        errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em; padding:3px 5px;"><span class="fa fa-exclamation-triangle"></span> #=message#<div class="k-callout k-callout-n"></div></div>', // change the default message container to show only an *
        validate: function (e) { // handle the validate event to build the error list
            var html = "";
            if (!e.valid) {


                var errors = this.errors();
                html += "<ul>";
                for (var i = 0; i < errors.length; i++) {
                    html += "<li>" + errors[i] + "</li>";
                }

                html += "</ul>";
            }
            $("#errors").empty().append($(html));
        }
    });
</script>
