@using stvsystem.Data
@model CredentialItem
@{
    ViewData["Title"] = "Ավարտել ընտրությունը";
    Layout = "~/Views/Shared/_LayoutNull.cshtml";
}


@using (Html.BeginForm("SaveSelections", "Selection", FormMethod.Post, new { id = "frmCandidateSelection" }))
{
    @Html.HiddenFor(model => model.CredentialID)

    <div class="container-maxwidth500">
        <div class="card">
            <div class="card-header">@ViewData["Title"]</div>

            @foreach (SelectionConfirmationItem item in ViewBag.CandidateSelections)
            {
               <p>@item.CandidateName </p>
            }

            <div class="card-footer">
                <button type="submit" id="SubmitButton" class="btn btn-sm btn-primary"><i class="icons icon-check"></i>&nbsp;Ավարտել</button>
                <button type="button" onclick="location.href='@Url.Action("Index", "Selection")'" class="btn btn-sm btn-secondary"><i class="icons icon-close"></i>&nbsp;Չեղարկել</button>
                @Html.ValidationSummary("Առկա են խնդիրներ")
            </div>
        </div>
    </div>
}
