@using  stvsystem.Data
@model PasswordItem
@{
    ViewData["Title"] = "Ընտրություն";
    Layout = "~/Views/Shared/_LayoutNull.cshtml";
}

<div id="backButton">
    <a class="btn btn-primary btn-sm" href="@Url.Action("Index", "Home")"><i class="icons icon-action-undo"></i></a>
</div>

@using (Html.BeginForm("VerifyPassword", "Selection", FormMethod.Post, new { id = "frmIndex" }))
{
    @Html.HiddenFor(model => model.Status)

    <div class="container-maxwidth500">
        <div class="card">
            <div class="card-header">@ViewData["Title"]</div>
            <div class="card-body">
                <div class="form-group">
                    <label class="control-label">Մուտքագրեք Ձեր վեցանիշ գաղտնաբառը</label>
                    @Html.Kendo().TextBoxFor(model => model.Password).HtmlAttributes(new { @class = "form-control", type = "password", maxlength = "6" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" id="SubmitButton" class="btn btn-sm btn-primary"><i class="icons icon-check"></i>&nbsp;Մուտք</button>
                <button type="button" onclick="location.href='@Url.Action("Index", "Selection")'" class="btn btn-sm btn-secondary"><i class="icons icon-close"></i>&nbsp;Չեղարկել</button>
                @Html.ValidationSummary("Առկա են խնդիրներ")

            </div>
        </div>
    </div>
}
<div id="errors"> </div>

<script>
    $(".validation-summary-errors").addClass("bg-warning")
    $("form").kendoValidator({
        errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em; padding:3px 5px;"><span class="fa fa-exclamation-triangle"></span> #=message#<div class="k-callout k-callout-n"></div></div>', // change the default message container to show only an *
        validate: function (e) { // handle the validate event to build the error list
            var html = "";
            if (!e.valid) {


                var errors = this.errors();
                html += "<ul>";
                for (var i = 0; i < errors.length; i++) {
                    html += "<li>" + errors[i] + "</li>";
                }

                html += "</ul>";
            }
            $("#errors").empty().append($(html));
        }
    });
</script>
