@using  stvsystem.Data
@model PasswordItem

@Html.HiddenFor(model => model.Status)

@using (Html.BeginForm("CandidateSelection", "Selection", FormMethod.Post, new { id = "frmIndex" }))
{
    <div>
        @Html.LabelFor(model => model.Password)
        @Html.Kendo().TextBoxFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div>
        <button type="submit" id="SubmitButton"><i></i>&nbsp;Մուտք</button>
    </div>
}