@using  stvsystem.Data
@model SelectionItem



@using (Html.BeginForm("ConfirmSelection", "Selection", FormMethod.Post, new { id = "frmCandidateSelection" }))
{
    @Html.HiddenFor(model => model.Password)
    @Html.HiddenFor(model => model.CandidateCount)


    if (Model.CandidateCount > 0)
    {
        <div>
            @Html.LabelFor(model => model.Candidate1ID)
            @(Html.Kendo().ComboBoxFor(model => model.Candidate1ID)
                                                                                                        .DataTextField("Text")
                                                                                                        .DataValueField("Value")
                                                                                                        .Placeholder("-- Ընտրել --")
                                                                                                        .Filter(FilterType.StartsWith)
                                                                                                        .HtmlAttributes(new { @class = "form-control" })
                                                                                                        .BindTo(ViewBag.vbCandidates)
            )
        </div>
    }
    if (Model.CandidateCount > 1)
    {
        <div>
            @Html.LabelFor(model => model.Candidate2ID)
            @(Html.Kendo().ComboBoxFor(model => model.Candidate2ID)
                                                                                                        .DataTextField("Text")
                                                                                                        .DataValueField("Value")
                                                                                                        .Placeholder("-- Ընտրել --")
                                                                                                        .Filter(FilterType.StartsWith)
                                                                                                        .HtmlAttributes(new { @class = "form-control" })
                                                                                                        .BindTo(ViewBag.vbCandidates)
            )
        </div>
    }
    if (Model.CandidateCount > 2)
    {
        <div>
            @Html.LabelFor(model => model.Candidate3ID)
            @(Html.Kendo().ComboBoxFor(model => model.Candidate3ID)
                                                                                                        .DataTextField("Text")
                                                                                                        .DataValueField("Value")
                                                                                                        .Placeholder("-- Ընտրել --")
                                                                                                        .Filter(FilterType.StartsWith)
                                                                                                        .HtmlAttributes(new { @class = "form-control" })
                                                                                                        .BindTo(ViewBag.vbCandidates)
            )
        </div>
    }
    if (Model.CandidateCount > 3)
    {
        <div>
            @Html.LabelFor(model => model.Candidate4ID)
            @(Html.Kendo().ComboBoxFor(model => model.Candidate4ID)
                                                                                                        .DataTextField("Text")
                                                                                                        .DataValueField("Value")
                                                                                                        .Placeholder("-- Ընտրել --")
                                                                                                        .Filter(FilterType.StartsWith)
                                                                                                        .HtmlAttributes(new { @class = "form-control" })
                                                                                                        .BindTo(ViewBag.vbCandidates)
            )
        </div>
    }
    if (Model.CandidateCount > 4)
    {
        <div>
            @Html.LabelFor(model => model.Candidate5ID)
            @(Html.Kendo().ComboBoxFor(model => model.Candidate5ID)
                                                                                                        .DataTextField("Text")
                                                                                                        .DataValueField("Value")
                                                                                                        .Placeholder("-- Ընտրել --")
                                                                                                        .Filter(FilterType.StartsWith)
                                                                                                        .HtmlAttributes(new { @class = "form-control" })
                                                                                                        .BindTo(ViewBag.vbCandidates)
            )
        </div>
    }
    if (Model.CandidateCount > 5)
    {
        <div>
            @Html.LabelFor(model => model.Candidate6ID)
            @(Html.Kendo().ComboBoxFor(model => model.Candidate6ID)
                                                                                                        .DataTextField("Text")
                                                                                                        .DataValueField("Value")
                                                                                                        .Placeholder("-- Ընտրել --")
                                                                                                        .Filter(FilterType.StartsWith)
                                                                                                        .HtmlAttributes(new { @class = "form-control" })
                                                                                                        .BindTo(ViewBag.vbCandidates)
            )
        </div>
    }
    if (Model.CandidateCount > 6)
    {
        <div>
            @Html.LabelFor(model => model.Candidate7ID)
            @(Html.Kendo().ComboBoxFor(model => model.Candidate7ID)
                                                                                                        .DataTextField("Text")
                                                                                                        .DataValueField("Value")
                                                                                                        .Placeholder("-- Ընտրել --")
                                                                                                        .Filter(FilterType.StartsWith)
                                                                                                        .HtmlAttributes(new { @class = "form-control" })
                                                                                                        .BindTo(ViewBag.vbCandidates)
            )
        </div>
    }
    if (Model.CandidateCount > 7)
    {
        <div>
            @Html.LabelFor(model => model.Candidate8ID)
            @(Html.Kendo().ComboBoxFor(model => model.Candidate8ID)
                                                                                                        .DataTextField("Text")
                                                                                                        .DataValueField("Value")
                                                                                                        .Placeholder("-- Ընտրել --")
                                                                                                        .Filter(FilterType.StartsWith)
                                                                                                        .HtmlAttributes(new { @class = "form-control" })
                                                                                                        .BindTo(ViewBag.vbCandidates)
            )
        </div>
    }
    if (Model.CandidateCount > 8)
    {
        <div>
            @Html.LabelFor(model => model.Candidate9ID)
            @(Html.Kendo().ComboBoxFor(model => model.Candidate9ID)
                                                                                                        .DataTextField("Text")
                                                                                                        .DataValueField("Value")
                                                                                                        .Placeholder("-- Ընտրել --")
                                                                                                        .Filter(FilterType.StartsWith)
                                                                                                        .HtmlAttributes(new { @class = "form-control" })
                                                                                                        .BindTo(ViewBag.vbCandidates)
            )
        </div>
    }
    if (Model.CandidateCount > 9)
    {
        <div>
            @Html.LabelFor(model => model.Candidate10ID)
            @(Html.Kendo().ComboBoxFor(model => model.Candidate10ID)
                                                                                                        .DataTextField("Text")
                                                                                                        .DataValueField("Value")
                                                                                                        .Placeholder("-- Ընտրել --")
                                                                                                        .Filter(FilterType.StartsWith)
                                                                                                        .HtmlAttributes(new { @class = "form-control" })
                                                                                                        .BindTo(ViewBag.vbCandidates)
            )
        </div>
    }

    <div>
        <button type="submit" id="SubmitButton"><i></i>&nbsp;Ավարտել</button>
        <button type="button" onclick="return Clear();"><i></i>&nbsp;Մաքրել</button>
        <button type="button" onclick="location.href='@Url.Action("Index", "Selection")'"><i></i>&nbsp;Չեղարկել</button>
    </div>

}
<script>
    function Clear() {
        $("#Candidate1ID").data("kendoComboBox").select(-1);
        $("#Candidate2ID").data("kendoComboBox").select(-1);
        $("#Candidate3ID").data("kendoComboBox").select(-1);
        $("#Candidate4ID").data("kendoComboBox").select(-1);
        $("#Candidate5ID").data("kendoComboBox").select(-1);
        $("#Candidate6ID").data("kendoComboBox").select(-1);
        $("#Candidate7ID").data("kendoComboBox").select(-1);
        $("#Candidate8ID").data("kendoComboBox").select(-1);
        $("#Candidate9ID").data("kendoComboBox").select(-1);
        $("#Candidate10ID").data("kendoComboBox").select(-1);
        return false;
    }
</script>