@model IEnumerable<stvsystem.Data.CredentialItem>
@{
    Layout = "~/Views/Shared/_LayoutNull.cshtml";
    ViewData["Title"] = "Տպել";
}

<div id="Credentials">
    <div id="backButton">
        <a class="btn btn-primary btn-sm" href="@Url.Action("Index", "Credential")"><i class="icons icon-action-undo"></i></a>
    </div>

    <button id="print" class="k-button" style="position:fixed; height: 52px; top:0; left:50%; z-index:10000"><i class="fa fa-file-pdf-o"></i>&nbsp; Արտահանել</button>
    <div class="page-container hidden-on-narrow">
        @{int i = 0;}
        @foreach (var item in Model)
        {
            i++;
            if (i - 1 == 0 || (i - 1) % 4 == 0)
            {
                @Html.Raw("<div class='pdf-page size-a4'>");
            }

            <div class="passworBlock row">
                <div class="col-12 col-lg-12">
                    <span class="text-muted font-xs">@Html.DisplayNameFor(x => item.CredentialID):</span>
                    <span class="h6 text-primary mb-0 pt-1">@item.CredentialID</span>
                </div>
                <div class="col-12 col-lg-12">
                    <div class="card">
                        <div class="card-body p-0 clearfix">
                            <i class="fa fa-check-square-o bg-primary p-2 font-2xl mr-3 float-left"></i>
                            <div class="h6 text-primary mb-0 pt-1">@ViewBag.Setting.SelectionName</div>
                            <div class="text-muted font-xs">Ընտրության անվանումը</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-12">
                    <div class="card-group">
                        <div class="card">
                            <div class="card-body">
                                <div class="h5 text-muted text-right mb-3">
                                    <i class="icon-calendar"></i>
                                </div>
                                <div class="h6 mb-0">@ViewBag.Setting.SelectionDate.ToString("dd/MM/yyyy")</div>
                                <small class="text-muted">Ընտրության ա/թ</small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="h5 text-muted text-right mb-3">
                                    <i class="icon-clock"></i>
                                </div>
                                <div class="h6 mb-0">@ViewBag.Setting.StartTime.ToString("hh:mm")</div>
                                <small class="text-muted">Մեկնարկի ժամը</small>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="h5 text-muted text-right mb-3">
                                    <i class="icon-clock"></i>
                                </div>
                                <div class="h6 mb-0">@ViewBag.Setting.FinishTime.ToString("hh:mm")</div>
                                <small class="text-muted">Ավարտի ժամը</small>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="h5 text-muted text-right mb-3">
                                    <i class="icon-user-following"></i>
                                </div>
                                <div class="h6 mb-0">@ViewBag.Setting.SelectionCount</div>
                                <small class="text-muted">Թեկնածուներ</small>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="h5 text-muted text-right mb-3">
                                    <i class="icon-people"></i>
                                </div>
                                <div class="h6 mb-0">@ViewBag.Setting.ParticipantCount</div>
                                <small class="text-muted">Մասնակիցներ</small>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-12">
                    <div class="card">
                        <div class="card-body p-0 clearfix">
                            <i class="icon icon-lock bg-primary p-2 font-2xl mr-3 float-left"></i>
                            <div class="h6 text-primary text-center mb-0 pt-1">@item.Password</div>
                            <div class="text-muted text-center font-xs">@Html.DisplayNameFor(x => item.Password)</div>
                        </div>
                    </div>
                </div>

                @*<h5 style="text-align:center">@Html.DisplayNameFor(x => item.CredentialID): @item.CredentialID</h5>
                    <hr />
                    <p>
                        <span>Ընտրության անվանումը:</span><br />
                        @ViewBag.Setting.SelectionName
                    </p>*@
                @*<p>
                        <span>Ընտրության ա/թ:</span> @ViewBag.Setting.SelectionDate.ToString("dd/MM/yyyy")
                    </p>
                    <p>
                        <span>Մեկնարկի ժամը:</span> @ViewBag.Setting.StartTime
                    </p>
                    <p>
                        <span>Ավարտի ժամը:</span> @ViewBag.Setting.FinishTime
                    </p>
                    <p>
                        <span>Թեկնածուների թիվը:</span> @ViewBag.Setting.SelectionCount
                    </p>
                    <p>
                        <span>Մասնակիցների թիվը:</span> @ViewBag.Setting.ParticipantCount
                    </p>
                    <hr />*@
                @*<p>
                        <span>
                            @Html.DisplayNameFor(x => item.Password):
                        </span>
                    </p>
                    <h3 style="text-align:center">

                    </h3>*@
            </div>
            <hr style="border: 1px dashed #808080"/>
            @if (i % 4 == 0 || i == Model.Count())
                {
                @Html.Raw("</div>");
                <span class="divider"></span>
            }
        }
    </div>
    <script>
        kendo.pdf.defineFont({
            "DejaVu Sans": "http://cdn.kendostatic.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans.ttf",
            "DejaVu Sans|Bold": "http://cdn.kendostatic.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
            "DejaVu Sans|Bold|Italic": "http://cdn.kendostatic.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "DejaVu Sans|Italic": "http://cdn.kendostatic.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf"
        });
    </script>
    <script>
        $("#print")
            .click(function () {
                var draw = kendo.drawing;
                draw.drawDOM($(".page-container"), {
                    forcePageBreak: ".divider",
                    multiPage: true,
                    avoidLinks: true,
                    paperSize: "auto",
                    margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                }).then(function (root) {
                    return draw.exportPDF(root);
                })
                    .done(function (data) {
                        kendo.saveAs({
                            dataURI: data,
                            fileName: 'Credentials.pdf',
                         proxyURL: "@Url.Action("Pdf_Export_Save", "Credential")"
                    });
                    return false;
                });
            });
    </script>
</div>
